<form action="/" method="post">
  <input type="text" class="form-control col-4" name="fullURL" id="fullURL" placeholder="Input URL here" required>
  <button type="submit" class="btn btn-outline-primary mt-3 pr-5 pl-5">shorten</button>
</form>