<div>
  <h1>NOT FOUND:</h1>
  <h2><a href="http://localhost:3000/{{inputURL}}">http://localhost:3000/{{inputURL}}</a></h2>
</div>
<p class="mt-2 text-danger">Please check the URL again!!!</p>
<div>
  <a href="/" class="btn btn-primary mt-2 mx-1">Back</a>
</div>