<div>
  <h1>Success!Please use this link:</h1>
  <h2><a href={{fullURL}} target="_blank" id="copyText">http://localhost:3000/{{shortURL}}</a></h2>
</div>
<button class="btn btn-outline-primary mt-3 pr-5 pl-5" type="button" onclick="copyEvent()">Copy</button>